<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">


	<menuitem name="axelor-gst-root-party" title="Party" order="2" icon="fa-user-o"/>

	<menuitem name="axelor-gst-root-party-party" parent="axelor-gst-root-party"
		title="Party" action="action.gst.party.view" order="1" />

	<action-view name="action.gst.party.view" title="Party"
		model="com.axelor.gst.db.Party">
		<view type="cards" name="party-card" />
		<view type="grid" name="party-grid" />
		<view type="form" name="party-form" />
	</action-view>

	<menuitem name="axelor-gst-root-party-contact" parent="axelor-gst-root-party"
		title="Contact" action="action.gst.party.contact.view" order="2" />

	<action-view name="action.gst.party.contact.view" title="Contact"
		model="com.axelor.gst.db.Contact">
		<view type="grid" name="contact-grid" />

		<view type="form" name="contact-form" />
	</action-view>

	<menuitem name="axelor-gst-root-party-configurations" parent="axelor-gst-root-party"
		title="Configurations" order="3" />

	<menuitem name="axelor-gst-root-party-configurations-address" parent="axelor-gst-root-party-configurations"
		title="Address" action="action.gst.party.address.view" order="1" />


	<action-view name="action.gst.party.address.view" title="Address"
		model="com.axelor.gst.db.Address">
		<view type="grid" name="address-grid" />
		<view type="form" name="address-form" />
	</action-view>

	<menuitem name="axelor-gst-root-party-configurations-city" parent="axelor-gst-root-party-configurations"
		title="City" action="action.gst.party.address.city.view" order="2" />

	<action-view name="action.gst.party.address.city.view"
		title="City" model="com.axelor.gst.db.City">
		<view type="grid" name="gst-city-grid" />
		<view type="form" name="gst-city-form" />
	</action-view>

	<menuitem name="axelor-gst-root-party-configurations-state" parent="axelor-gst-root-party-configurations"
		title="State" action="action.gst.party.address.state.view" order="3" />

	<action-view name="action.gst.party.address.state.view"
		title="State" model="com.axelor.gst.db.State">
		<view type="grid" name="gst-state-grid" />
		<view type="form" name="gst-state-form" />
	</action-view>

	<menuitem name="axelor-gst-root-party-configurations-country" parent="axelor-gst-root-party-configurations"
		title="Country" action="action.gst.party.address.country.view" order="4" />

	<action-view name="action.gst.party.address.country.view"
		title="Country" model="com.axelor.gst.db.Country">
		<view type="grid" name="gst-country-grid" />
		<view type="form" name="gst-country-form" />
	</action-view>


	<menuitem name="axelor-gst-root-product" title="Product" order="3" icon="fa-product-hunt" icon-background="yellow"/>

	<menuitem name="axelor-gst-root-product-product" parent="axelor-gst-root-product"
		title="Product" action="action.gst.product.view" order="1" />

	<action-view name="action.gst.product.view" title="Products"
		model="com.axelor.gst.db.Product">
		<view type="cards" name="product-card" />
		<view type="grid" name="product-grid" />
		<view type="form" name="product-form" />
	</action-view>

	<menuitem name="axelor-gst-root-party-categories" parent="axelor-gst-root-product"
		title="Product Categories" action="action.gst.product.category.view"
		order="2" />

	<action-view name="action.gst.product.category.view" title="Product Categories"
		model="com.axelor.gst.db.ProductCategory">
		<view type="grid" name="category-grid" />
		<view type="form" name="category-form" />
	</action-view>


	<menuitem name="axelor-gst-root-invoice" title="Invoice" order="4" icon="fa-sticky-note" icon-background="violet"/>

	<menuitem name="axelor-gst-root-invoice-create" parent="axelor-gst-root-invoice"
		title="Create Invoice" action="action.gst.invoice.create.view" order="1" />

	<action-view name="action.gst.invoice.create.view" title="New Invoice"
		model="com.axelor.gst.db.Invoice">
		<view type="form" name="invoice-form" />
		<context name="ids" expr="eval:_ids"/>
	</action-view>

	<menuitem name="axelor-gst-root-invoice-draft" parent="axelor-gst-root-invoice"
		title="Draft Invoices" action="action.gst.invoice.draft.view" order="2" />

	<action-view name="action.gst.invoice.draft.view" title="Draft Invoices"
		model="com.axelor.gst.db.Invoice">
		<view type="grid" name="invoice-grid" />
		<view type="form" name="invoice-form" />
		<domain>status='1'</domain>
	</action-view>

	<menuitem name="axelor-gst-root-invoice-validated" parent="axelor-gst-root-invoice"
		title="Validated Invoices" action="action.gst.invoice.validated.view"
		order="3" />

	<action-view name="action.gst.invoice.validated.view"
		title="Validated Invoices" model="com.axelor.gst.db.Invoice">
		<view type="grid" name="invoice-grid" />
		<view type="form" name="invoice-form" />
		<domain>status='2'</domain>
	</action-view>

	<menuitem name="axelor-gst-root-invoice-paid" parent="axelor-gst-root-invoice"
		title="Paid Invoices" action="action.gst.invoice.paid.view" order="4" />

	<action-view name="action.gst.invoice.paid.view" title="Paid Invoices"
		model="com.axelor.gst.db.Invoice">
		<view type="grid" name="invoice-grid" />
		<view type="form" name="invoice-form" />
		<domain>status='3'</domain>
		</action-view>

	<menuitem name="axelor-gst-root-invoice-cancelled" parent="axelor-gst-root-invoice"
		title="Cancelled Invoices" action="action.gst.invoice.cancelled.view"
		order="5" />

	<action-view name="action.gst.invoice.cancelled.view"
		title="Cancelled Invoices" model="com.axelor.gst.db.Invoice">
		<view type="grid" name="invoice-grid" />
		<view type="form" name="invoice-form" />
		<domain>status='4'</domain>
	</action-view>


	<menuitem name="axelor-gst-root-invoice-all" parent="axelor-gst-root-invoice"
		title="All Invoices" action="action.gst.invoice.all.view" order="6" />

	<action-view name="action.gst.invoice.all.view" title="All Invoices"
		model="com.axelor.gst.db.Invoice">
		<view type="grid" name="invoice-grid" />
		<view type="form" name="invoice-form" />
		<view type="kanban" name="invoice-kanban" />
	</action-view>


	<menuitem name="axelor-gst-root-company" title="Company" order="5" />

	<menuitem name="axelor-gst-root-company-company" parent="axelor-gst-root-company"
		title="Company" action="action.gst.company.view" order="1" />

	<action-view name="action.gst.company.view" title="Company"
		model="com.axelor.gst.db.Company">
		<view type="grid" name="company-grid" />
		<view type="form" name="company-form" />
	</action-view>

	<menuitem name="axelor-gst-root-company-bankaccount" parent="axelor-gst-root-company"
		title="Bank Account" action="action.gst.company.bankaccount.view"
		order="2" />

	<action-view name="action.gst.company.bankaccount.view"
		title="Bank Account" model="com.axelor.gst.db.BankAccount">

		<view type="grid" name="bank-grid" />
		<view type="form" name="bank-form" />

	</action-view>

	<menuitem name="axelor-gst-root-company-sequence" parent="axelor-gst-root-company"
		title="Sequence" action="action.gst.company.sequence.view" order="3" />

	<action-view name="action.gst.company.sequence.view" title="Sequence"
		model="com.axelor.gst.db.Sequence">

		<view type="grid" name="sequence-grid" />
		<view type="form" name="sequence-form" />

	</action-view>


</object-views>